#
# Focaltech Touchscreen driver configuration
#

config TOUCHSCREEN_FT5436
	bool "Goodix touchpanel FT5436 series"
	depends on I2C
	help
	  Say Y here if you have a FocalTech FT54xx touchscreen.
	  Gt915L controllers are multi touch controllers which can
	  report 5 touches at a time.

          If unsure, say N.

config TOUCHSCREEN_FTS
        bool "Focaltech Touchscreen"
		depends on I2C
		default y
		help
		  Say Y here if you have Focaltech touch panel.
		  If unsure, say N.

config TOUCHSCREEN_FTS_DIRECTORY
    string "Focaltech ts directory name"
    default "focaltech_touch"
    depends on TOUCHSCREEN_FTS
    
